version: '3'

services:
  postgres:
    image: postgres:14-alpine
    restart: always
    volumes:
      - postgres_volume:/var/lib/postgresql/data/
    env_file:
      - ./services/postgres/.env

  backend:
    image: local/lizaalert_backend
    restart: always
    env_file:
      - .env
    volumes:
      - ./src:/app/
      - static_volume:/app/static/
      - media_volume:/app/media/
    depends_on:
      - postgres

  nginx:
    image: local/lizaalert_nginx
    volumes:
      - static_volume:/var/html/static/
      - media_volume:/var/html/media/
    ports:
      - "8000:8000"
    depends_on:
      - backend

volumes:
  postgres_volume:
  static_volume:
  media_volume:
