SECRET_KEY=django-insecure-71lo1($*i%(=yl@51%3$1hd@!g-f=tojdt+c5agn$-oin+yu5w
DEBUG=True

DJANGO_SUPERUSER_PASSWORD=Pa$$w0rd
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_USERNAME=admin

DB_NAME=lizaalert
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432