openapi: 3.0.1
info:
  title: Платформа для обучения добровольцев "ЛизаАлерт"
  description: 'Описание контракта API платформы для обучения добровольцев "ЛизаАлерт"'
  termsOfService: https://swagger.io/terms/
  contact:
    name: Developer Team
    email: "fake@yamdb.fake"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0

servers:
- url: https://liza-alert.ru/api/v1

tags:
- name: course
  description: API по работе с конструктором курсов

paths:
  /courses: # Уточнить endpoint
    get:
      tags:
      - course
      summary: Главная страница сайта платформы обучения (для авторизованного пользователя)
      description: Отображает информацию о курсах, пользователе и выбранных фильтрах
      operationId: getIndexAuthorizedUser
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          description: Статус курса
          schema:
            type: array
            items:
              type: string
              enum:
              - active
              - booked
              - finished
              - inactive
        - in: query
          name: level
          description: Уровень
          schema:
            type: array
            items:
              type: string
              enum:
              - novice
              - experienced
              - professional
        - in: query
          name: offset
          description: начальный номер объекта списка на странице
          schema:
            type: integer
          required: true
        - in: query
          name: limit
          description: Кол-во элементов списка на странице
          schema:
            type: integer
          required: true
      responses:
        200:
          description: Успешная операция
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    description: Общее количество объектов (курсов)
                    example: 16
                  offset:
                    description: начальный номер объекта списка на странице
                    type: integer
                    example: 1
                  # Уточнить необходимость пагинации результата и состав дополнительных полей в ответе
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Идентификатор курса
                        title:
                          type: string
                          description: Название курса
                          example: Кинологическое направление
                        level:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Идентификатор курса
                            name:
                              description: Уровень курса
                              example: Бывалый
                            slug:
                              type: string
                              description: slug field
                              format: slug
                              example: experienced
                        description:
                          type: string
                          description: Краткое Описание курса
                          example: Поисково-спасательная работа, следовая работа, а так же поиск тел погибших с помощью собак
                        image:
                          type: string
                          format: uri
                          description: ссылка на обложку курса
                        lessonsCount:
                          type: integer
                          description: Количество занятий
                          example: 24
                        duration:
                          type: integer
                          description: Продолжительность курса в часах
                          example: 144
                        status:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Идентификатор уровня
                            name:
                              description: Статус курса
                              type: string
                              example: Вы записаны
                            slug:
                              type: string
                              description: slug field
                              format: slug
                              example: booked
        400:
          description: Некорректные параметры запроса
          $ref: '#/components/responses/BadRequest'


components:
  schemas:
    Error: #Требуется уточнить состав и объем полей описания ошибки, отдаваемой в фронтенд
      type: object
      properties:
        errors:
          type: string
        message:
          type: string
      required:
        - errors
        - message

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    minimalResponse:
      description: "OK"

    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"